.appnav{
    background-color: white;
    color: white;
    display: flex;
    width: auto;
    height:auto;
    justify-content: space-around;
    align-items:center;
    border-bottom:1px solid #333;
}
.appnav a {
    color: #333;
    text-decoration: none;
    padding: 1%;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height:1vh;
}
.appnav a:hover {
    background-color: black;
    color: pink;
}