.sidebar{
    width: 250px;
    height: 250px;
    background-color: #f4f4f4;
    position: relative;
    padding-top: 20px;
    left:0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    float:left;
}