.sidebar{
    width: 250px;
    /* min-height: auto; */
    height: calc(100vh);
    background-color: #f4f4f4;
    position: sticky;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    float:left;
    overflow: hidden;
}